<!DOCTYPE html>
<html lang="fr">
    <head>
        <script src="/JQuery360.js"></script>
        <script src='/connexion/connexion.js'></script>
        <!https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css!>
        <link href="/bootstrap.min.css" rel="stylesheet">
        <link href='/connexion/connexion.css' rel="stylesheet">
        <title>Connexion</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="container pageCentre">
                <h1 style="color: #80bdff">Connexion</h1>
                <div class="jumbotron">
                    <form method="post" action="/connexion">
                        <div class="row" style="margin-bottom: 20px">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
                                <div class="mb-auto">
                                    <label for="identifiant">Identifiant</label>
                                    <input type="text" class="form-control" id="identifiant">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
                                <div class="mb-auto">
                                    <label for="password">Mot de passe</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
                                <div class="mb-auto">
                                    <span style="margin-right: 10px"><a href="/acceuil">page d'acceuil</a></span>
                                    <span><a href="/inscription">inscription</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
                                <button type="submit" class="btn btn-primary">se connecter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

<!--
xs (<=576px), sm (>=576px), md (>=768px), lg (>=992px) or xl (>=1200px))

The classes are used in the format:

{property}{sides}-{size} for xs & {property}{sides}-{breakpoint}-{size} for sm, md, lg, and xl.

m - sets margin

p - sets padding
---------------------------------------
t - sets margin-top or padding-top

b - sets margin-bottom or padding-bottom

l - sets margin-left or padding-left

r - sets margin-right or padding-right

x - sets both padding-left and padding-right or margin-left and margin-right

y - sets both padding-top and padding-bottom or margin-top and margin-bottom

blank - sets a margin or padding on all 4 sides of the element

0 - sets margin or padding to 0

1 - sets margin or padding to .25rem (4px if font-size is 16px)

2 - sets margin or padding to .5rem (8px if font-size is 16px)

3 - sets margin or padding to 1rem (16px if font-size is 16px)

4 - sets margin or padding to 1.5rem (24px if font-size is 16px)

5 - sets margin or padding to 3rem (48px if font-size is 16px)

auto - sets margin to auto






               <div class="row">
                    <div class="col-xs-1 col-sm-3 col-md-6 col-lg-2 ">
                        <h1>Connexion</h1>
                        <p>Lorem ip scem luctus tortor lectus, eget semper sapien malesuada eu. Etiam suscipit justo augue, nec interdum massa sollicitudin a. Nam nec blandit arcu, non fringilla metus.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 offset-lg-5">
                        <h3>Look! I am Centered Horizontally</h3>
                    </div>
                </div>
            </div>-->