<!DOCTYPE html>
<htmll lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>liste</title>
        <script src="/JQuery360.js"></script>
        <script src="/produitList/produitList.js"></script>
        <link href="/bootstrap.min.css" rel="stylesheet">
        <link href="/produitList/produitList.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav >
                            <ol>
                                <li><a href="acceuil">page d'acceuil</a></li>
                                <li><a href="detail">commander</a></li>
                                <li><a href="#">Jump Bike 3000</a>></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h1>Commander</h1></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                    </div>
                </div>
            </div>
        </div>
        <div id="panier">
            <p>panier</p>
        </div>

    </body>
</htmll>


<!--
                       <div id="produitList">
                            <ol>
                                <%for (let i in produits) {%>
                                <li class="description"><img src=<%="photos/"+produits[i]['nom']%> alt="no" width="30" height="30"> <%=produits[i]['nom']%></li>
                                <%}%>
                            </ol>
                        </div>
-->